<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>Travel App</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="logo">trawhere</a>
      <ul class="nav-items-list">
        <li class="nav-item">
          <a href="#landingpage" class="item-link">home</a>
        </li>
        <li class="nav-item"><a href="#about" class="item-link">about</a></li>
        <li class="nav-item"><a href="#plan" class="item-link">plan</a></li>
      </ul>
    </nav>
    <main>
      <section class="landingpage" id="landingpage">
        <div class="graphic-landingpage-plane"></div>
        <div class="graphic-landingpage-map"></div>
        <div class="content">
          <h1 class="title">welcome to <span>trawhere!</span></h1>
          <div class="subtitle">
            <h4 class="description">
              This website helps you plan your trips around the world. It
              provide you the weather forecast for your destination dates, some
              images to see what you can visit, tips and trick and a lot more!
            </h4>
            <button class="button">plan now</button>
          </div>
        </div>
      </section>
      <section class="about" id="about">
        <div class="container">
          <ul class="list" id="feature-list">
            <li id="country" class="list-item active">
              <img
                class="icon"
                src="./src/client/imgs/icons_about/rosso/icona11.svg"
              />choose country & city
            </li>
            <li id="date" class="list-item">
              <img
                class="icon"
                src="./src/client/imgs/icons_about/rosso/icona22.svg"
              />select the days
            </li>
            <li id="weather" class="list-item">
              <img
                class="icon"
                src="./src/client/imgs/icons_about/rosso/icona33.svg"
              />get the weather
            </li>
            <li id="pictures" class="list-item">
              <img
                class="icon"
                src="./src/client/imgs/icons_about/rosso/icona44.svg"
              />discover pictures
            </li>
            <li id="info" class="list-item">
              <img
                class="icon"
                src="./src/client/imgs/icons_about/rosso/icona55.svg"
              />receive info
            </li>
          </ul>
        </div>
        <div class="container container-text">
          <h1 class="title" id="category-title">Countries and Cities</h1>
          <p class="paragraph" id="category-description">
            Select the country you want to visit from all the countries around
            the world. Then type down the city you want to see.
          </p>
        </div>
      </section>
      <section class="plan" id="plan">
        <h1 class="title">Plan your trip!</h1>
        <div class="plan-content">
          <div class="search">
            <div class="search-content">
              <div class="location">
                <p class="sub-title">Where</p>
                <form>
                  <div class="form-group">
                    <label for="">Country</label>
                    <select id="countries">
                      <option value="destination"
                        >Select your destination</option
                      ></select
                    >
                  </div>
                  <div class="form-group">
                    <label for="">City</label>
                    <input type="text" id="inputCity" />
                  </div>
                </form>
              </div>

              <div class="time">
                <p class="sub-title">When:</p>
                <div class="dates">
                  <div class="form-group">
                    <label for="birthday">start:</label>
                    <input type="date" id="start-trip" name="start" />
                  </div>
                  <div class="form-group">
                    <label for="birthday">end:</label>
                    <input type="date" id="end-trip" name="end" />
                  </div>
                </div>
              </div>
            </div>

            <button class="button" id="submitCity">search</button>
          </div>

          <div class="response-content">
            <h2 class="sub-title">Choose your trip</h2>
            <div class="response-trips" id="response-trips"></div>
          </div>
        </div>
      </section>
    </main>
    <footer>created by <b>Alexandru Cotin</b></footer>
  </body>
</html>
