<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <nav>
      <a href="/" class="logo">trawhere</a>
      <ul>
        <li class="nav-item"><a href="#landingpage" class="item-link"></a></li>
        <li class="nav-item"><a href="#about" class="item-link"></a></li>
        <li class="nav-item"><a href="#plan" class="item-link"></a></li>
      </ul>
    </nav>
    <main>
        <section class="section landingpage" id="landingpage"> This is the landingpage</section>
        <section class="section about" id="about"></section>
        <section class="section plan" id="plan"></section>
    </main>
    <footer>created by <b>Alexandru Cotin</b></footer>
  </body>
</html>
