.landingpage {
  flex-direction: column;
}

.graphic-landingpage-plane {
  background-image: url(../imgs/aereo.png);
  position: absolute;
  z-index: -1;
  width: 24%;
  left: 4.1%;
  bottom: 17.2%;
}

.graphic-landingpage-map {
  background-image: url(../imgs/mappa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 60%;
  right: 5%;
}

.content {
  .title {
    font-weight: normal;
    font-size: 4.5rem;
    span {
      font-weight: 900;
      font-size: 6rem;
    }
  }
  .subtitle {
    .description {
      width: 52%;
      font-weight: lighter;
    }

    .call-to-action {
      font-family: "Heebo", sans-serif;
      margin: 3rem 0 1rem 0;
    }

    .button {
      margin-top: 3rem;
      box-shadow: inset 6px 6px 14px #ce4a4a, inset -6px -6px 14px #ff6464;
      font-weight: 700;
      color: white;
      background-color: #f25757;

      &:focus {
        outline: none;
      }

      &:hover {
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  6px 6px 20px #b0b0b0, 
        -6px -6px 20px #ffffff;
        cursor: pointer;
        color: black;
      }
    }
  }
}
