.landingpage {
  background-image: url("../imgs/landingpage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.content {


  .subtitle {
    color: white;
    .description {
      width: 50%;
    }

    .call-to-action {
      font-family: "Heebo", sans-serif;
      margin: 3rem 0 1rem 0;
    }
  }
}
