.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-container {
  background-color: #fefefe;
  padding: 2rem;
  width: auto;
}

/* The Close Button */
.close {
  background-color: rgb(0, 195, 255);
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  color: white;

  &:focus,
  :hover {
    background-color: rgb(0, 137, 190);
    text-decoration: none;
    cursor: pointer;
  }
}

.save {
    background-color: rgb(0, 172, 9);
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    color: white;
  
    &:focus,
    :hover {
      background-color: rgb(60, 212, 0);
      text-decoration: none;
      cursor: pointer;
    }
  }
