.nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  .logo {
    font-family: "Heebo", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 1.5rem;
    color: #f25757;
  }

  .icon {
    display: none;
  }
}

.nav-items-list {
  display: flex;
  align-items: center;

  .nav-item {
    margin: 0 1.5rem;

  }
}

@media(min-width: 0px) and (max-width:750px){
  .nav{
    display: flex;
    flex-direction: column;
    .nav-items-list {
      display: none;
    }
    .icon{
      display: unset;
      position: absolute;
      right: 1.8rem;
      top:1.8rem;
    }
  }
}