.plan {
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  padding: 4rem 0;

  .title {
    font-weight: normal;
    font-size: 3.5rem;
    span {
      font-weight: 900;
      font-size: 4rem;
    }
  }

  .button {
    padding: 1rem 3rem;
    border-radius: 20px;
    background: #55b9f3;
    box-shadow: inset 6px 6px 14px #479bcc, inset -6px -6px 14px #63d7ff;
    margin: 0 0 3rem 0;
    color: white;

    &:focus {
      outline: none;
    }

    &:hover {
      background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow: 6px 6px 20px #b0b0b0, -6px -6px 20px #ffffff;
      cursor: pointer;
      color: black;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .search-content {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 2rem 0 3rem 0;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 9px 9px 18px #dedede, -9px -9px 18px #ffffff;

    .location {
      width: 40%;
    }
    .time {
      width: 40%;
    }

    .form {
      padding: 3rem;
    }
  }
}

.response-trips {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trip-info {
  width: 40%;
  padding: 4rem;
  margin: 1rem;
  text-align: center;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 8px 8px 30px #cccccc, inset -8px -8px 30px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .buttons-list {
    margin-top: 2rem;
  }
}

.select {
  background: #55b9f3;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  color: white;
  border: 0;
  border-radius: 10px;
}

.delete {
  background-color: #f25757;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
  color: white;
  border: 0;
  border-radius: 10px;
}
.show-more {
  background-color: #55b9f3;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.7rem;
  color: white;
  border: 0;
  border-radius: 10px;
}

.save {
  background-color: #6cd331;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 0.7rem;
  color: white;
  border: 0;
  border-radius: 10px;
}
.trip-details {
  .card-title {
    margin: 0 0 1.5rem 0;
    text-transform: lowercase;
    b {
      font-size: 1.6rem;
    }
  }
  .trip-description {
    font-size: 0.8rem;
  }
  .countdown {
    padding: 0.7rem 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: 1rem 0;
    font-weight: bold;
  }
}

.trip-weather {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  .day-info {
    margin: 1rem 0.5rem;

    .date {
      font-weight: bold;
      margin-bottom: 0.7rem;
      font-size: 0.5rem;
    }
    .weather-icon {
      width: 2rem;
    }
  }
}

.temp-list {
  display: flex;
  justify-content: space-evenly;
  .temp {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    text-align: center;
    margin: 0 0.3rem;
    span {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}

.display-error {
  color: red;
  margin: 0 3rem;
  font-size: 0.7rem;
}

@media (min-width: 0px) and (max-width: 970px) {
  .plan {
    padding: 2rem;
    .title {
      font-size: 2rem;
      margin: 1rem 0;
      span {
        font-size: 2.5rem;
      }
    }

    .button {
      padding: 0.5rem 1.5rem;
      font-size: 11px;
    }
    .search-content {
      padding: 0;
      margin: 2rem 0;
      flex-direction: column;
      width: 100%;
      box-shadow: unset;

      .location {
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: 9px 9px 18px #dedede, -9px -9px 18px #ffffff;

        .form {
          padding: 3rem;

          label {
            font-size: 0.5rem;
          }
          select {
            font-size: 11px;
          }
          input {
            line-height: unset;
            font-size: 11px;
          }
        }
      }

      .time {
        width: 100%;
        border-radius: 50px;
        background: #ffffff;
        box-shadow: 9px 9px 18px #dedede, -9px -9px 18px #ffffff;

        .form {
          padding: 3rem;

          label {
            font-size: 0.5rem;
          }
          input {
            color: #afafaf;
            line-height: unset;
            font-size: 11px;
          }
        }
      }
    }

    .response-trips {
      justify-content: unset;

      .trip-info {
        width: 100%;
        padding: 2rem;
        margin: 0;

        .trip-description {
          font-size: 0.7rem;
        }

        .buttons-list {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
